:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.font-sample {
  text-align: left;
  margin-bottom: 80px;
}

.font-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.sample-text {
  font-size: 40px;
}

.noto-sans-japanese {
  font-family: 'Noto Sans JP', sans-serif;
}

.noto-serif-japanese {
  font-family: 'Noto Serif JP', serif;
}

.m-plus-1p {
  font-family: 'M PLUS 1p', sans-serif;
}

.zen-kaku-gothic-new {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.dela-gothic-one {
  font-family: 'Dela Gothic One', sans-serif;
}
